body {
    background: #f7dbf4;
    overflow: hidden;
    /*display: flex;*/
    justify-content:center;
    align-items: center;
    font-family: "Didot",serif;
    margin: 0;
      
    
}

/*navigation bar*/
.custom-navbar {
            background-color: #b16b73 ; 
      position: sticky;
        }
        
.custom-nav-link {
            color: #fff; 
            
        }    
    
/*image settings*/
img {
    vertical-align:middle;
    border-style: none;
    
}

/*logo and moto*/
#mainDiv {
    color: #ffffffef;
    top: 44%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    z-index: 8;
   align-items: center; 
    justify-content: center;
    display: flex !important;
    flex-direction: column !important;
    
}

#logo {
    height: 35vh;
    vertical-align: middle;
    border-style: none;
    box-sizing: border-box;
}
@media screen and (max-width: 720px) {
    #mainDiv {
        color: #ffffffef;
        top: 37%;
        left: 50%;
        transform: translate(-50%, -50%);
        position: absolute;
        z-index: 8;
        align-items: center;
        justify-content: center;
        display: flex !important;
        flex-direction: column !important;
    }

    #logo {
        height: 148px;
        vertical-align: middle;
       
    }
}

#MainText {
    color: #b16b73;
    text-align: center;
}

/*copyrights position*/
@media screen and (max-width: 720px) {
    #copyright {
        
        top: 95%;
        left: 50%;
        transform: translate(-50%, -50%);
        position: absolute;
        z-index: 16;
        align-items: center;
        justify-content: center;
        display: flex !important;
        flex-direction: column !important;
    }
   }

 #copyright{
    color: #9e595f;
    top: 94%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    z-index: 8;
    align-items: center; 
    justify-content: center;
    display: flex !important;
    flex-direction: column !important;
        
    }

h1 {
    font-size: 2.25rem;
    font-weight: 500;
    line-height: 1.2;
    margin-top: 0;
}

/*cloud position*/
.clouds {
    position: absolute;
    bottom: 0;
    width: 105%;
    z-index: 1;
}

/*pills to navigate info page*/
.nav-pills .nav-link.active {
    background-color: #9e595f; /* Pink color for active pill */
}
          
.nav-pills .nav-link {
    color:black; /* Pink color for default pill */
}

.navbar-custom {
    position: relative;
    z-index: 10; /* Higher than clouds */
}

#navbar-example3 {
    position: relative;
    z-index: 10; /* Higher than clouds */
}

/*item1, 2 ,3 in info*/
 .scrollspy-example-2 {
    position: relative;
    z-index: 10; /* Higher than clouds */
}

.scrollspy-example-2 {
  height: 80vh; /* Adjust height as needed (vh - viewport height) */
  overflow-y: auto; /* Enable scrolling if content overflows */
}

/*shooting star*/
.night {
    position: absolute;
    z-index: 2; /* Ensure shooting star is above clouds */
}
.night {
    position: relative;
    width: 100%;
    height: 100%;
    transform: rotateZ(45deg);
}

.shooting_star {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 100px;
    height: 1px;
    background: linear-gradient(
        -45deg,
        #b16b73,
        rgba(255, 0, 97, 0)
    );
    border-radius: 999px;
    filter: drop-shadow(0 0 6px rgba(105, 155, 255, 1));
    animation: tail 3000ms ease-in-out, shooting 3000ms ease-in-out;
    animation-fill-mode: forwards;
}

@keyframes tail {
    0% {
        width: 0;
    }

    30% {
        width: 100px;
    }

    100% {
        width: 0;
    }
}

@keyframes shooting {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(300px);
    }
}

